* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
header {
  width: 1200px;
  margin: auto;
  display: flex;
  gap: 58px;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
}
.head1 {
  display: flex;
  gap: 30px;
  border-top: 10px;
  justify-content: space-between;
}
.container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.img_z {
  margin: 20px 0px 0px 0px;
  width: 119px;
  height: 39px;
}
.head2 {
  display: flex;
  gap: 20px;
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}
.dollar {
  color: #2adb00;
  font-size: 20px;
  margin-right: 2px solid #ccc;
}
.text12 {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.head_img_s {
  height: 20px;
  max-width: 20px;
}
.img_mun_cen {
  align-items: center;
}
/* section1 */

.section1 {
  display: flex;
  width: 1200px;
  margin: auto;
  padding: 40px;
  padding: 0px 0px 0px 40px;
  border-radius: 10px;
  position: relative;
}
.border_bottom {
  padding: 40px;
  border: 2px solid
    linear-gradient(90deg, #f4f4f4 7%, hsla(0, 0%, 100%, 0.220348) 17%);
  background: linear-gradient(
    90deg,
    #f4f4f4 7%,
    hsla(0, 0%, 100%, 0.220348) 17%
  );
}
.button {
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  height: 30px;
  width: 103px;
  padding: 8px 15px;
  border: 0;
  border-radius: 100px;
  color: white;
  font-weight: 500;
}
.button:hover {
  width: 113px;
  transition: all 0.2s ease-in-out;
}
.title {
  font-size: 18px;
  height: 118px;
  max-width: 503px;
  margin: 10px 0px 20px 0px;
  padding: 10px 30px 0px 0px;
  color: black;
}
.paragraph {
  width: 503px;
  font-size: 13px;
  opacity: 0.4;
  margin: 10px 0px 20px 0px;
}
.content1 {
  width: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content2 {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px 0px 0px 15px;
}
.share {
  background-color: #f0efef;
  height: 36px;
  width: 65.25px;
  margin: 0px 20px 0px 0px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 100px;
  display: flex;
  gap: 10px;
}
.share:hover {
  transition: all 0.4s ease-in-out !important;
}
.size {
  width: 16px;
  height: 16px;
  color: #c6c6c6;
  margin: auto;
}
.font {
  font-weight: 700;
  margin: auto;
}
.flex {
  display: flex;
  gap: 10px;
}
.flex .commet {
  border: 1px solid #f0efef;
  display: flex;
  margin: auto;
  gap: 10px !important ;
  border-top: 10px;
}
/* section1-2 */
.section1-2 {
  width: 1200px;
  margin: auto;
  display: flex;
  gap: 15px;
  margin: 30px 0px 40px 0px;
}

.news {
  width: 310px;
}

.news img {
  width: 100%;
  border-radius: 15px;
}

.news p {
  margin: 20px 0;
  font-weight: 700;
  line-height: 25px;
}
.rel {
  position: relative;
  padding: 0px 0px 50px 0px;
}
.hover_button {
  border: 0px;
}
.hover1 {
  position: absolute;
  width: 310px;
  z-index: 1;
  border-radius: 15px;
}
.hover2 {
  position: absolute;
  visibility: hidden;
  width: 310px;
  height: 100%;
  border-radius: 15px;
  z-index: 2;
}
.hover3 {
  position: absolute;
  visibility: hidden;
  width: 310px;
  height: 100%;
  border-radius: 15px;
  z-index: 3;
}
.hover1-1:hover,
.hover2-1:hover,
.hover3-1:hover {
  opacity: 1;
  visibility: visible;
  transition-duration: 500ms;
}
.hover {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
.border_bottom {
  width: 100vw;
  border: 2px solid linear-gradient(180deg, #fff, #f7f7f7);
  background: linear-gradient(180deg, #fff, #f7f7f7);
}
/* section 2 */
.title2 {
  margin-top: 40px;
}
.section_title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
}
.title_blue {
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
}
li {
  min-width: 170px;
  position: relative;
}
li :first-child {
  width: 100%;
  border-radius: 15px;
}
img[alt="g"] {
  width: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}
li div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
}
ul {
  display: flex;
  gap: 15px;
}
